<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="master.css" type="text/css" />
    </head>
    <body>
        <main>
            <h1>Welcome</h1>
            <form method="POST" action="/">
                <div id="name-div">
                    <label for="name">Enter Your Name:</label>
                    <input type="text" name="name" id="name" required/>
                </div>
                <div id="emailId-div">
                    <label for="emailId">Enter Your Email</label>
                    <input type="email" name="emailId" id="emailId" required>
                </div>
                <div id="submit-div">
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </main>
        <script>
        document.addEventListener("DOMContentLoaded", function(){
            let afterPost = <%= afterPost %>
            if(afterPost){
                let success = <%= success %>
                if(success){
                    alert("User added, Email sent!");
                }else{
                    alert("Something went wrong!")
                }
            }
        })
        </script>
    </body>
</html>
