<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="master.css" type="text/css" />
        
    </head>
    <body>
        <h1>Welcome</h1>
        <form method="POST" action="/">
            <label for="name">Enter Your Name:</label>
            <input type="text" name="name" id="name"/>
            <label for="emailId">Enter Your Email</label>
            <input type="email" name="emailId" id="emailId">
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>